# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# database
.env
*.db
.env.*

# VSCode or JetBrains IDEs
.vscode/
.idea/

# npm packages
/frontend/node_modules/
/frontend/package-lock.json

# System files
Thumbs.db
ehthumbs.db
Desktop.ini

# Python virtual environments
venv/
.env/
.envrc
.venv

# Backup files
*~
*.bak
database/backups/
database/apartments.csv
data_output/
