# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# datastorage
.env
*.db
.env.*

# VSCode or JetBrains IDEs
.vscode/
.idea/

# npm packages
/frontend/node_modules/
/frontend/package-lock.json

# System files
Thumbs.db
ehthumbs.db
Desktop.ini

# Python virtual environments
venv/
.env/
.envrc
.venv

# Backup files
*~
*.bak
datastorage/sqlite/sqlite_backups/
datastorage/csv/apartments.csv
data/

# frontend
frontend/src/charts
